.home-page {
	background-color: #ecf0f1;
	width: 100%;
	padding: 15px;
}

/* Sort Widget */

.widget-header {
  font-size: 22px;
  letter-spacing: 1.54px;
}

.sort-button-list {
  list-style-type: none;
  font-size: 18px;
  padding: 0;
  border-bottom: 1px solid #b2b2b2;
}

.sort-button {
  color: #000000;
  font-weight: 400;
  opacity: .7;
  margin: 14px 0 14px;
  display: inline-block;
}

.sort-button:hover {
  opacity: 1;
}

/* Product box styles */

.product-list [class^="col-"] {
  padding: 0 10px 20px;
}